streamlit
google-generativeai
langchain # Shudhu eta rakhun, core etc. nijei install korbe
qdrant-client # Qdrant er jonno
pymupdf
pytesseract
pillow
camelot-py
pandas
opencv-python-headless
sentence-transformers # Local embedding
